services:
  pubsub-emulator:
    image: google/cloud-sdk:latest@sha256:d6d0bfb55788c8af9b354cdb6af3e3cfbc5bec59f708c0b1e38d91a5c8be2d44
    command: gcloud beta emulators pubsub start --project=pytest-streaming --host-port=0.0.0.0:8432
    ports: ['8432:8432']
    environment:
      PUBSUB_PROJECT_ID: pytest-streaming
      PUBSUB_EMULATOR_HOST: localhost:8432
  pulsar:
    image: apachepulsar/pulsar:4.0.6@sha256:c30ad1646e00b2a7c9e89de949a91b6506afc5f1bd3f402a23eefc46990def88
    container_name: pulsar
    ports: ['6650:6650', '8080:8080']
    environment:
    - PULSAR_STANDALONE_ENABLED=true
    - allowAutoTopicCreation=true
    command: [bin/pulsar, standalone]
