name: docs build
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        persist-credentials: true
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: .venv
        key: ${{ runner.os }}-docs-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-docs-${{ hashFiles('**/pyproject.toml') }}
    - name: build and deploy docs
      run: |-
        uv run mkdocs gh-deploy --force
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
