name: docs build
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        persist-credentials: true
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: .venv
        key: ${{ runner.os }}-docs-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-docs-${{ hashFiles('**/pyproject.toml') }}
    - name: build and deploy docs
      run: |-
        uv run mkdocs gh-deploy --force
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
