name: fmt check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: .venv
        key: ${{ runner.os }}-fmt-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-fmt-${{ hashFiles('**/pyproject.toml') }}
    - name: run fmt
      run: |-
        just fmt-check
