name: mypy check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: .venv
        key: ${{ runner.os }}-mypy-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-mypy-${{ hashFiles('**/pyproject.toml') }}
    - name: run mypy
      run: |-
        just mypy
