name: mypy check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
      with:
        path: .venv
        key: ${{ runner.os }}-mypy-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-mypy-${{ hashFiles('**/pyproject.toml') }}
    - name: run mypy
      run: |-
        just mypy
