name: test check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2
      with:
        cache: true
    - name: Dependency cache
      id: cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: .venv
        key: ${{ runner.os }}-test-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-test-${{ hashFiles('**/pyproject.toml') }}
    - name: run docker-compose
      run: |
        docker compose up -d
        sleep 10s
    - name: run test
      run: |-
        just test
